/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
body {
    background: url("/imges/ellipse_1_copy_4.png") 50% 130px no-repeat;
}

.content {
    padding: 125px 0 137px 0;
    max-width: 841px;
    margin: 0 auto;
}

.content-top {
    text-align: center;
    margin: 0 0 65px 0;
}

.content-top-category {
    opacity: 0.6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #273d46;
    margin: 0 0 15px 0;
}

.content-top-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    color: #273d46;
}

.content-image {
    box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
    background-color: #fff;
    padding: 10px;
    margin: 0 0 85px 0;
}

/*картинка не шире 100% родителя (чтобы другая картинка не сломала верстку)*/
.content-image-item img {
    max-width: 100%;
}

.content-bottom {
    /*внутренний отступ слева/спара*/
    padding: 0 45px;
}

.content-bottom-text {
    font-size: 24px;
    line-height: 40px;
    color: #4e6067;
    margin:  0 0 48px 0;
}
.content-bottom-text p {
    margin: 0 0 45px 0;
}
.content-bottom-text p:last-child{
    margin: 0;
}

.content-bottom-info {

}
.content-bottom-info-list{
    margin: 0 0 59px 0;
}

.content-bottom-info-list li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin:  0 0 15px 0;
    background: url("/imges/check_icon_37.png") left no-repeat;
    padding: 0 0 0 35px;
}
.content-bottom-info-list li:last-child{
    margin: 0;
}
.content-bottom-info-list li:nth-child(1){
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #273d46;
}
.content-bottom-info-list li:nth-child(2){
    font-style: italic;
    color: #80b7b3;
}
.content-bottom-info-list li:nth-child(3){
    font-weight: 700;
    color: #273d46;
}
.content-bottom-info-list li:nth-child(4){
    text-decoration: line-through;
    color: #273d46;
}
.content-bottom-info-list li:nth-child(4) span{
    opacity: 0.3;
}

.content-bottom-info-link {
    /*добавляем для того, чтобы на строчный тэг действовали свойства блочных элементов*/
    display: inline-block;
    border-radius: 24px;
    height: 44px;
    line-height: 44px;
    -webkit-box-shadow: 0px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 1px rgba(0,0,0,0.5);
    padding: 0 30px;
    background-color: #80b7b3;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    color: #ffffff;
}
.content-bottom-info-link span{
    background: url("/imges/shape_2_9.png") right no-repeat;
    padding: 0 30px 0 0;
}
.content-bottom-info-link:hover{
    background-color: #612529;
}
.content-bottom-info-link:active{
    position: relative;
    top: 3px;
    -webkit-box-shadow: 0px 2px 1px rgba(0,0,0,0.5);
    box-shadow:0px 2px 1px rgba(0,0,0,0.5) ;
}

